{% extends 'base.html' %}
{% block title %}Koleksi Buku — Perpustakaan DIL{% endblock %}
{% block content %}
<div class="page-header">
  <div class="page-title">Koleksi <span>Buku</span></div>
  {% if current_user.role == 'admin' %}
  <a href="{{ url_for('books.tambah') }}" class="btn btn-purple">＋ Tambah Buku</a>
  {% endif %}
</div>

<form method="GET" class="toolbar">
  <input type="text" name="q" value="{{ search }}" class="search-input" placeholder="Cari judul atau penulis...">
  <select name="genre" class="filter-select" onchange="this.form.submit()">
    <option value="">Semua Genre</option>
    {% for g in genres %}
    <option value="{{ g }}" {{ 'selected' if g == selected_genre }}>{{ g }}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-outline">🔍 Cari</button>
  {% if search or selected_genre %}
  <a href="{{ url_for('books.index') }}" class="btn btn-outline">✕ Reset</a>
  {% endif %}
</form>

{% if buku %}
<div class="books-grid">
{% for b in buku %}
  <div class="book-card">
    <div class="book-cover">
      {% if b.cover %}
        <img src="{{ url_for('cover_file', filename=b.cover) }}" alt="{{ b.judul }}" onerror="this.parentElement.innerHTML='📚'">
      {% else %}📚{% endif %}
    </div>
    <div class="book-info">
      <div class="book-genre">{{ b.genre }} · {{ b.tahun }}</div>
      <div class="book-title">{{ b.judul }}</div>
      <div class="book-author">oleh {{ b.penulis }}</div>
      {% if b.rak_nama %}<div class="book-rak">📍 {{ b.rak_nama }}</div>{% endif %}
      <div style="margin:.4rem 0"><span class="stars">{{ b.rata_rating | stars }}</span> <span style="font-size:.75rem;color:var(--muted)">{{ '%.1f'|format(b.rata_rating) + ' (' + b.ulasan|length|string + ')' if b.ulasan else 'Belum ada ulasan' }}</span></div>
      <div class="book-desc">{{ b.deskripsi }}</div>
      <div class="book-footer">
        <span class="stok-badge {{ 'stok-ada' if b.stok > 0 else 'stok-habis' }}">{{ '✓ Stok: ' + b.stok|string if b.stok > 0 else '✗ Habis' }}</span>
        <div class="book-actions">
          <a href="{{ url_for('books.baca', id=b.id) }}" class="btn btn-blue btn-sm">📖 Baca</a>
          {% if current_user.role == 'admin' %}
          <a href="{{ url_for('books.cerita', id=b.id) }}" class="btn btn-outline btn-sm">✍️</a>
          <a href="{{ url_for('books.edit', id=b.id) }}" class="btn btn-outline btn-sm">✏️</a>
          {% if b.stok > 0 %}
          <a href="{{ url_for('peminjaman.pinjam', buku_id=b.id) }}" class="btn btn-teal btn-sm">Pinjam</a>
          {% endif %}
          <form method="POST" action="{{ url_for('books.hapus', id=b.id) }}" style="display:inline">
            <button type="submit" class="btn btn-danger btn-sm confirm-delete">Hapus</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% else %}
<div class="empty-state">📚 Tidak ada buku ditemukan.</div>
{% endif %}
{% endblock %}
